<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- ... -->
  <add key="ClientsFilePath" value="filepath"/>
  <add key="g" value="1"/>
  <add key="h" value="123123"/>
  <!-- ... -->
  <add key="m" value="123123"/><add key="r" value="filepath"/>
  <add key="a" value="123123"/>
  <add key="e" value="123123"/>
  <!-- ... -->
                  <add key="p" value="filepath"/>

  <!-- ... -->
  
  <add key="g" value="filepath"/>
  <!-- ... -->

  <add key="testing" value="filepath"/>

  <add key="testing" value="filepath"/>
  
  
  
  
  
  
  
  <add key="AXNQ" value="filepath"/>
  
  <add key="alpha" value="filepath"/>
  <!-- ... -->




</appSettings>
